.App {
  background-color: #282c34;
  background-size: cover;
  text-align: center;
  color: #f0f0f0;
  min-height: 100vh; /* Ensure the element covers the entire viewport */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
}

.champion-changes {
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
}

.change-box {
  background-color: transparent;
  /* border: 1px solid #a2a2a2; */
  padding: 10px, 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.change-item {
  margin-bottom: 15px;
  padding: 0px;
}

.feature-box {
  background-color: transparent;
  border: 1px solid #a2a2a2;
  padding: 10px, 10px;
  border-radius: 5px;
  margin-bottom: 2px;
}

.feature-box h4 {
  margin-top: 0;
}

.feature-box div {
  margin-top: 5px;
}

.feature-box strong {
  font-weight: bold;
}

.positive {
  color: rgb(65, 171, 65);
}

.negative {
  color: rgb(255, 66, 66);
}

.neutral {
  color: #f0f0f0;
}

input { 
  text-align: center; 
}

.FloatingLabel {
  color: #323438b2; /* Adjust the color as needed */
}

.custom-tab .ant-tabs-tab {
  color: #f0f0f0; /* Change this to the desired font color */
}

/* Override the selected color */
.ant-table-thead th.ant-table-column-sort {
  background-color: #e6f7ff; /* Change this to the desired selected color */
}

/* Override the hover color */
.ant-table-thead th.ant-table-column-sort:hover {
  background-color: #bae7ff; /* Change this to the desired hover color */
}
